@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #333;
  padding: 24px;
  border-radius: 5px;
}

p {
  line-height: 1.8;
  color: #ff4500;
}
